@font-face {
    font-family: 'Knewave';
    src: url('Knewave-Regular.woff2') format('woff2'),
        url('Knewave-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

