* {
    box-sizing:  border-box ;
    margin:  0 ;
} 

body { 
    display:  grid ;
    grid-template-columns: 1fr 3fr ;
    min-height: 100vh;
}


nav  {
    background-color: purple;
    height: 100%;

}

#content { 
    background-color: azure;
    height: 100%;
}

#container { 
    display: grid;
    gap: 5px;
}
#container  > div { 
    width: 100%;
    height: 20px ;
    background-color: black;
    
}






