* {
    box-sizing:  border-box ;
    margin:  0 ;
} 

body { 
    display:  grid ;
    grid-template-columns: 1fr 3fr ;
    min-height: 100vh;
}


nav  {
    background-color: purple;
    height: 100%;

}

#content { 
    background-color: azure;
    height: 100%;
}

#container { 
    display: grid;
    gap: 5px;
}
#container  > div { 
    width: 100%;
    height: 20px ;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 75% auto auto auto;
    

    
}

.removeBtn { 
    height: 100%;
    background-color: red;

}

.editProject { 
    height: 100%;
    background-color: blue;
    
}

.createTask { 
    height: 100%;
    background-color: rgb(134, 232, 36);
    
}


.task { 
    width: 500px ;
    height:  100px;
    background-color: black ;
}

.taskForm { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap:20px
    

}

.taskForm > div { 
    display: flex;
    flex-direction: column;
    gap: 5px;
}








